.container{
    width: 10cm;
    height: 10cm;
   margin-top: 9%;
   border: solid black;
}
.prof{
  margin-top: 9%;
    display: flex;
    justify-content: center;
}
.ectiture{
    
    
 
    display: flex;
    justify-content: center;
}